.App {
  text-align: center;
  
}

button{
  border-color: #0096aa;
  background: #0096aa;
  color: #ffffff;
  cursor: pointer;
  border-radius:5px;
  border: transparent;
  width: 100px;
  height: 40px; 
}

button:hover{
  background: #ffffff;
  color: #0096aa;
  margin-left: 20px;
  border:1px solid #0096aa;
}

select{
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  height: 25px;

}
.container{
  display:flex;

  margin-top:20px;
  margin-left: 20px;
}

.form-group{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;

}

.selector{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.form-control{
  margin-top: 5px;
  position: relative;
 
}


#error-border{

  border: 1px solid #ff0000;
}